<h2 id="movie-title"><a href="{{url}}" target="_blank">{{title}}</a></h2>

<div class="long-desc">
  {{description_intro}}
  <br/>
  <br/>
  {{description_full}}
</div>

<div id="video-container">
</div>

<div class="hero-unit">
{{#each torrents}}
Quality: {{this.quality}}
<br />
peerflix "magnet:?xt=urn:btih:{{this.hash}}" --vlc
<br />
{{/each}}
</div>