<div class="media">
  <a href="{{MovieUrl}}" target="_blank" class="pull-left">
    <img src="{{CoverImage}}" alt="" class="media-object"/>
  </a>
  <div class="media-body">
    <span class="info">
      <h4 class="media-heading"><a href="{{MovieUrl}}" target="_blank">{{MovieTitle}}</a></h4>
      <p><b>Size:</b> {{Size}}</p>
      <p><b>Quality:</b> {{Quality}}</p>
      <p><b>Genre:</b> {{Genre}}</p>
      <p><b>IMDB Rating:</b> {{MovieRating}}/10</p>
      <span>
        <p class="peers"><b>Peers:</b> {{TorrentPeers}}</p>
        <p class="peers"><b>Seeds:</b> {{TorrentSeeds}}</p>
      </span>
    </span>
  </div>
  <span class="links">
    <a href="{{ MovieUrl }}" class="btn" target="_blank">View Info</a>
    <a href="{{ TorrentUrl }}" target="_blank" class="btn" data-movieid="{{MovieID}}">
      Download
    </a>
    <a href="javascript:;" class="btn btn-primary streamTorrent">
      View Online
    </a>
  </span>
</div>
