<div class="media">
  <a href="{{url}}" target="_blank" class="pull-left">
    <img src="{{small_cover_image}}" alt="" class="media-object"/>
  </a>
  <div class="media-body">
    <span class="info">
      <h4 class="media-heading"><a href="{{url}}" target="_blank">{{title}}</a></h4>
      <p><b>Genre:</b> {{genres.[0]}}</p>
      <p><b>IMDB Rating:</b> {{rating}}/10</p>
      <span>
        <p class="peers"><b>Peers:</b> {{torrents.[0].peers}}</p>
        <p class="peers"><b>Seeds:</b> {{torrents.[0].seeds}}</p>
      </span>
    </span>
  </div>
  <span class="links">
    <a href="{{ url }}" class="btn" target="_blank">View Info</a>
    <a href="{{ torrents.[0].url }}" target="_blank" class="btn" data-movieid="{{id}}">
      Download
    </a>
    <a href="javascript:;" class="btn btn-primary streamTorrent">
      View Online
    </a>
  </span>
</div>
